<div class="card-custom card border-primary" style="min-height: 80vh;">
    <div class="card-header bg-primary">Cadenas de Texto</div>
    <div class="card-body">
        <h2>Cadenas de Texto</h2>
        <div class="form-group">
            <label for="Texto">Ingrese una frase:</label>
            <input class="form-control" id="input-cadena" name="Texto" type="text" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="Texto" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" id="btn-cadena" name="submit" type="submit" value="Enviar">
        </div>
        <div id="cadena"></div>
    </div>
</div>