<div class="card-custom card border-primary" style="min-height: 80vh;">
    <div class="card-header bg-primary">Procesos de Cálculo</div>
    <div class="card-body">
        <h2>Procesos de Cálculo</h2>
        <div class="form-group">
            <label for="Meses">Seleccione un mes:</label>
            <select class="form-control text-capitalize" id="months" name="Mes"></select>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" id="btn-calcular" name="submit" type="submit" value="Calcular">
        </div>
        <div id="calculos"></div>
    </div>
</div>