<div class="card-custom card border-primary" style="min-height: 80vh;">
  <div class="card-header bg-primary">Facturación</div>
  <div class="card-body">
    <h2>Facturación</h2>
    <div class="jumbotron" id="facturacion-content">
      <form id="form-cliente" name="form-cliente">
        <div class="row">
          <div class="col-md-4">
            <legend>Datos del cliente:</legend>
          </div>
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary float-right">Imprimir Factura</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <div class="form-group">
                <label for="fecha">Fecha del documento</label>
                <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Ingrese la fecha" required>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="clave">Clave del cliente</label>
              <input type="text" class="form-control" id="clave" name="clave" placeholder="Ingrese la clave" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="nombre-cliente">Nombre del cliente</label>
              <input type="text" class="form-control" id="nombreCliente" name="nombreCliente" placeholder="Ingrese el nombre" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="tipoCambio">Tipo de cambio</label>
              <input type="number" class="form-control" id="tipoCambio" name="tipoCambio" placeholder="Ingrese el tipo de cambio" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="descuento-cliente">Descuento</label>
              <input type="number" class="form-control" id="descuentoCliente" name="descuentoCliente" placeholder="Ingrese el descuento" required>
            </div>
          </div>
        </div>
      </form>

      <hr class="my-4">
      <form id="form-partida">
        <div class="row">
          <div class="col-md-4">
            <legend>Partidas:</legend>
          </div>
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary float-right">Agregar Partida</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input type="number" class="form-control" id="cantidad" placeholder="Ingrese la cantidad" required>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="cod-producto">Código del producto</label>
              <input type="text" class="form-control" id="codProducto" placeholder="Ingrese el codigo de producto" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="precio">Precio</label>
              <input type="number" class="form-control" id="precio" placeholder="Ingrese el precio" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <div class="form-group">
                <label for="iva">% IVA</label>
                <input type="number" class="form-control" id="iva" placeholder="Ingrese el IVA" required>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="descuento-partida">% Descuento</label>
              <input type="number" class="form-control" id="descuentoPartida" placeholder="Ingrese el descuento" required>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>